@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Prefeitura de Bom Sucesso</h1>
    <br>
    <br>
    <p>Mais informações oficiais <a href="https://bomsucesso.mg.gov.br/">sobre a cidade</a>.</p>
</div>
